<footer class="page-footer" style="padding-top: 0;">
  <div class="footer-copyright">
    <div class="container">
      <span
        style="display: flex; align-items: center; justify-content: center;"
      >Anıl Berke Sağlam</span>
    </div>
  </div>
</footer>